@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MellmothJdr</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
 *@
<MudAppBar Color="Color.Primary" Fixed="false">
    <MudMenu Dense
             Variant="Variant.Text"
             Size="Size.Medium"
             Color="Color.Inherit"
             Icon="@Icons.Material.TwoTone.MoreVert">

        <MudMenu StartIcon="@Icons.Material.TwoTone.Settings"
                 IconColor="Color.Primary"
                 Label="Settings">
            <MudMenuItem Icon="@Icons.Material.TwoTone.DarkMode"
                         IconColor="Color.Secondary"
                         Label="Dark Theme" />
        </MudMenu>

        <MudDivider />

        <MudMenuItem Href="/"
                     ForceLoad
                     Icon="@Icons.Material.TwoTone.Login"
                     IconColor="Color.Primary"
                     Label="Sign In" />

        <MudMenuItem Href="/"
                     ForceLoad
                     Icon="@Icons.Material.TwoTone.Logout"
                     IconColor="Color.Primary"
                     Label="Sign Out" />
    </MudMenu>

    <MudSpacer />

    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" />
</MudAppBar>